BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxxxxxxxxxxx
KV_REST_API_URL=https://xxxx.kv.vercel-storage.com
KV_REST_API_TOKEN=xxxxxxxxxxxx
EDGE_CONFIG=https://edge-config.vercel.com/ecfg_xxxx?token=xxxx
CRON_SECRET=super-secret-cron-token
